<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>订单收货信息添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {#  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">#}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="layui-form" lay-filter="orderAddressEdit" id="orderAddressEdit" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 85px"><span class="red">*</span>地址类型：</label>
        <div class="layui-input-inline">
            <input type="radio" name="is_hos_addr" id="is_hos_addr" value="1" title="医院" lay-filter="isHosAddrCheck">
            <input type="radio" name="is_hos_addr" id="is_hos_addr" value="2" title="个人" lay-filter="isHosAddrCheck">
            <input type="hidden" name="is_hos_addr_passed" id="is_hos_addr_passed" value="{{ addr_info.is_hos_addr }}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 85px"><span class="red">*</span>收货人姓名：</label>
        <div class="layui-input-inline">
            <input type="text" name="consignee" id="consignee" autocomplete="off" class="layui-input">
            <input type="hidden" name="consignee_passed" id="consignee_passed" value="{{ addr_info.consignee }}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 85px"><span class="red">*</span>收货人电话：</label>
        <div class="layui-input-inline">
            <input type="text" name="con_tel" id="con_tel" autocomplete="off" class="layui-input">
            <input type="hidden" name="con_tel_passed" id="con_tel_passed" value="{{ addr_info.con_tel }}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label control_label" style="width: 85px"><span class="red">*</span>收货地址</label>
        <div class="layui-input-block">
            <div class="layui-input-inline" style="width: 150px">
                <select name="comProvince" id="comProvince">
                    <option value="">请选择省</option>
                </select>
                <input type="hidden" name="province_passed" id="province_passed" value="{{ addr_info.province }}" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: 150px">
                <select name="comCity" id="comCity">
                    <option value="">请选择市</option>
                </select>
                <input type="hidden" name="city_passed" id="city_passed" value="{{ addr_info.city }}" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: 150px">
                <select name="comZone" id="comZone">
                    <option value="">请选择区(县)</option>
                </select>
                <input type="hidden" name="zone_passed" id="zone_passed" value="{{ addr_info.zone }}" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label control_label" style="width: 85px"><span class="red">*</span>详细地址</label>
        <div class="layui-input-inline">
            <input type="text" name="addrStr" id="addrStr" lay-verify="required" class="table_input" style="width: 500px">
            <input type="hidden" name="add_passed" id="add_passed" value="{{ addr_info.addr_detail }}" class="layui-input">
        </div>
    </div>
    <input type="hidden" class="table_input" value="{{ addr_id }}" name="addressId" id="addressId">
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-back-submit" value="确认">
    </div>
</div>

<script src="{% static 'layui/layui.js' %}"></script>
<script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
<script src="{% static 'js/region.js' %}"></script>
{#<script type="text/javascript" src="{% static 'js/hospital/jQuery.md5.js' %}"></script>#}
<script>
    window.onload=function () {
        var cp = document.getElementById('comProvince');
        var cc = document.getElementById('comCity');
        var cz = document.getElementById('comZone');
        region(cp,cc,cz);
    };

    var callbackdata = function () {
        var addrDatas = form.val("orderAddressEdit");   //获取表单值
        {#console.log(addrDatas);#}
        console.log(addrDatas);
        if (addrDatas.is_hos_addr == "") {
            layer.msg("请选择地址类型！");
            $("#is_hos_addr").focus();
            return false;
        }
        if (addrDatas.comProvince == "") {
            layer.msg("请选择省！");
            $("#comProvince").focus();
            return false;
        }
        if (addrDatas.comCity == "") {
            layer.msg("请选择市！");
            $("#comCity").focus();
            return false;
        }
        if (addrDatas.comZone == "") {
            layer.msg("请选择区！");
            $("#comZone").focus();
            return false;
        }
        if (addrDatas.consignee == " ") {
            layer.msg("请输入收货人姓名！");
            $("#consignee").focus();
            return false;
        }
        if (addrDatas.con_tel == " ") {
            layer.msg("请输入收货人电话！");
            $("#con_tel").focus();
            return false;
        }
        if (addrDatas.addrStr === " ") {
            layer.msg("请输入详细收货地址！");
            $("#addrStr").focus();
            return false;
        }
        return addrDatas;
    };


    layui.use(['form', 'layer', 'laydate'], function () {
        var $ = layui.jquery;
        window.form = layui.form;
        {#var form = layui.form;#}
        window.layer = layui.layer;
        var laydate = layui.laydate;

        form.val('orderAddressEdit',{
            'is_hos_addr':$("#is_hos_addr_passed").val()
            ,'consignee':$("#consignee_passed").val()
            ,'con_tel':$("#con_tel_passed").val()
            ,'comProvince':$("#province_passed").val()
            ,'comCity':$("#city_passed").val()
            ,'comZone':$("#zone_passed").val()
            ,'addrStr':$("#add_passed").val()
        });
        form.render();
        form.render('select');

        //时间段
        lay('.laydate-item').each(function () {
            laydate.render({
                elem: this
                , trigger: 'click'
                , type: 'datetime'
            });
        });

        form.render('select');

        form.on('radio(isHosAddrCheck)', function (data) {
            if (data.value == '1'){
                $.get("{% url 'management:company' %}",function (data) {
                    {#console.log(data)#}
                    form.val('orderAddressEdit', {
                        "consignee": data.companyname
                        ,"con_tel": data.companytel
                        ,"comProvince": data.companyprovince
                        ,"comCity": data.companycity
                        ,"comZone": data.companyzone
                        ,"addrStr": data.companyaddress
                    });
                    form.render('select');
                });
            }else if (data.value == '2'){
                form.val('orderAddressEdit', {
                        "consignee": ' '
                        ,"con_tel": ' '
                        ,"comProvince": ' '
                        ,"comCity": ' '
                        ,"comZone": ' '
                        ,"addrStr": ' '
                    });
                form.render('select');
            }
        });
    });
</script>
</body>
</html>