{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>中药房处方推送系统</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div style="width:100%;height:645px;position: absolute;top:50%;left:50%;margin-top:-320px;margin-left:-50%;">
    <div class="header"></div>
    <div class="center">
        <div class="login_right">
            <div style="width:100%;height:auto;margin-top:150px;">
                <form action="{% url 'management:login' %}" method="post" name="loginForm" id="loginForm" onsubmit="return check();">
                    {% csrf_token %}
                    <div class="login_title">
                        用户登录
                    </div>
                    <div class="login_info">
                        <label>用户名：</label><input type="text" name="username" id="username" class="login_input"
                                                  value=""/>
                        &nbsp;&nbsp;<span id="nameerr" class="errInfo">{% if uperror %}{{ uperror }}
                        {% endif %}</span>
                    </div>
                    <div class="login_info">
                        <label>密　码：</label><input type="password" name="password" id="password" class="login_input"
                                                  value=""/>
                        &nbsp;<span id="pwderr" class="errInfo"></span>
                    </div>
                    <div class="login_info">
                        <label>验证码：</label><input type="text" name="code" id="code" class="login_code"/>&nbsp;&nbsp;
                        <img id="codeImg" width="70px" height="25px" alt="点击更换" title="点击更换" src=""/>
                        &nbsp;<span id="codeerr" class="errInfo">{% if cerror %}{{ cerror }}
                        {% endif %}</span>
                    </div>
                    <div class="login_info">
                        <input type="submit" name="loginBtn" id="loginButton" value="登录" class="btn"/>
                        <input type="reset" name="cancelBtn" id="cancleButton" value="取消" class="btn"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="bottom">
        Copyright &copy; 2022 中药房处方推送系统
    </div>
</div>
<script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery.md5.js' %}"></script>
<script type="text/javascript">
    var errInfo = "";
    $(document).ready(function () {
        changeCode();
        $("#codeImg").bind("click", changeCode);
        if (errInfo != "") {
            if (errInfo.indexOf("验证码") > -1) {
                $("#codeerr").show();
                $("#codeerr").html(errInfo);
                $("#code").focus();
            } else {
                $("#nameerr").show();
                $("#nameerr").html(errInfo);
            }
        }
        $("#username").focus();
    })

    function genTimestamp() {
        var time = new Date();
        return time.getTime();
    }

    function changeCode() {
        $("#codeImg").attr("src", "{% url 'management:changeVerifyCode' %}?t=" + genTimestamp());
    }

    function resetErr() {
        $("#nameerr").hide();
        $("#nameerr").html("");
        $("#pwderr").hide();
        $("#pwderr").html("");
        $("#codeerr").hide();
        $("#codeerr").html("");
    }

    function check() {
        resetErr();
        if ($("#username").val() == "") {
            $("#nameerr").show();
            $("#nameerr").html("用户名不能为空！");
            $("#username").focus();
            return false;
        }
        if ($("#password").val() == "") {
            $("#pwderr").show();
            $("#pwderr").html("密码不能为空！");
            $("#password").focus();
            return false;
        }
        if ($("#code").val() == "") {
            $("#codeerr").show();
            $("#codeerr").html("验证码不能为空！");
            $("#code").focus();
            return false;
        }
        $("#password").val($.md5($("#password").val()).toLowerCase());
        sessionStorage.clear();
        return true;
    }

</script>
</body>
</html>