body {
    /*background: #999292 */
    background: #CBE7F7
}

.header {
    width: 100%;
    height: 41px;
    /*background: #3E9492 repeat-x;*/
    background: #CBE7F7 repeat-x;
}

.center {
    width: 50%;
    height: 432px;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right: 0;
    margin: auto;
    /*background: #3E9492 repeat-x;*/
    background: #389E9C repeat-x;
    border-radius:30px;
}

.login_right {
    float: right;
    width: 55%;
    height: 80%;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right: 0;
    margin: auto;
    background: #C5ECFD;
    border-radius:5px;
}

.login_input {
    width: 150px;
    height: 20px;
    margin-left: 30px;
    border: 1px solid #7F9DB9;
    vertical-align: middle;
    border-radius:5px;
}

.login_code {
    width: 70px;
    height: 20px;
    margin-left: 30px;
    border: 1px solid #7F9DB9;
    vertical-align: middle;
}

.login_title {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    margin-left: 35px;
}

.login_info {
    color: #999292;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    margin-left: 35px;
}

.login_info img {
    vertical-align: middle;
    cursor: pointer;
}

.errInfo {
    color: red;
}

.btn {
    width: 60px;
    height: 25px;
    border-width: 0px;
    background: ButtonShadow;
    letter-spacing: 3px;
    margin-right: 70px;
    cursor: pointer;
}

.left_txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 25px;
    color: #666666;
    margin-top: 20px;
    text-align: center
}

.bottom {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
    line-height: 20px;
    margin-top: 520px;
}